* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #000000;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.c-player {
    display: block;
    background-color: #FFF;
    display: block;
    margin: 0px auto;
    padding: 0px;
    border-radius: 16px;
    width: 25rem;
}

.c-player > h4 {
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.c-player > p {
    color: #AAA;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.c-player > p span {
    font-weight: 400;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.c-player--details .details-img img {
    display: block;
    margin: 50px auto;
    width: 100%;
    max-width: 250px;
    
}


.c-player--details .details-title {
    color: #000;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details-artist {
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 30px;
    padding: 10px;
    border: none;
    outline: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    color: #000;
    font-size: 20px;
  
}